<app-header></app-header>

<form>
    <div class="form">
      <mat-card class="form-container">
        <mat-card-title>Admin login!</mat-card-title>
  
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input
              matInput
              placeholder="username"
              formControlName="username"
    
            />
          </mat-form-field>
        </div>
        

        <div>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="password"
                formControlName="password"
              />
            </mat-form-field>
        </div>

       
       
        <div>
        <button class="loginbtn" mat-raised-button color="primary"><a routerLink="/admin">login</a></button>  
        </div>

        <div>
            <a routerLink="/provider/login">login as a provider</a>
        </div>

      </mat-card>
    </div>
  </form>