<mat-toolbar class="header">
    <a class="menu" routerLink="/index" routerLinkActive="activebutton">home</a>
    <a class="menu" routerLink="/about" routerLinkActive="activebutton">about us</a>
    <a class="menu" routerLink="/contact" routerLinkActive="activebutton">contact us</a>
</mat-toolbar>

<form>
    <div class="form">
      <mat-card class="form-container">
        <mat-card-title> Provider Login!</mat-card-title>
  
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input
              matInput
              placeholder="username"
              formControlName="username"
    
            />
          </mat-form-field>
        </div>
        

        <div>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="password"
                formControlName="password"
              />
            </mat-form-field>
        </div>

       
       
        <div>
        <button class="loginbtn" mat-raised-button color="primary"><a routerLink="/provider">login</a>
        </button>  
        </div>

        <div>
            <a routerLink="/admin/login">login as an admin</a>
        </div>

      </mat-card>
    </div>
  </form>